body {

    background-color: lightblue;
}

*{
    text-decoration: none;
}

.title{

    font-size: 40px;
    text-align: center;
    color: tomato;
}

.connect{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.connect .connect__wrapper{

    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px;
}

.connect .navigator{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.connect .navigator__item{

    list-style-type: none;
}

.connect .navigator__item a {
    color: green;
    font-weight: bold;
}

.connect .navigator__item a:hover{
    color: red;
}

.connect .navigator__item .active {
    color: red;
}

.ol-mouse-position {
    background-color: lightblue;
    border-radius: 4px;
    color: black;
    padding: 1px 5px;
}

.ol-scale-line{
    left: 45%;
}

.popup-content{

    background-color: white;
    padding: 15px;
}

.closer {

    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: red;
    font-weight: bold;
    color: yellow;
    text-align: center;
    margin: 3px;
    cursor: pointer;
}

.hide {

    display: none;
}

.popup-about{
    text-align: center;
    font-weight: bold;
    color: red;
}

.controllers{
    display: flex;
    justify-content: space-around;
}